#mob-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #deddff;
}

.nav-wrap {
  background: none;
}

.nav {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 18px 22px;
  background: none;
}

.nav a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.tile {
  /*width: 62px;
  height: 62px;
  border-radius: 18px;
  background: #e6e5fb;*/
  display: grid;
  place-items: center;
  /*box-shadow: inset 0 1px 0 #fff, 0 2px 8px rgba(60,70,120,.12);*/
}

.tile svg {
  width: 36px;
  height: 36px;
  display: block;
  filter: grayscale(1) saturate(.4) opacity(.7);
  transition: transform .2s ease, filter .2s ease;
}

/*.nav a.active .tile {
  background: #dde1ff;
  outline: 1px solid rgba(60,70,160,.18);
}*/

.nav a.active .tile svg {
  filter: none;
  transform: translateY(-2px);
}

.space {
    padding: 0 0 20% 0;
}